@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body{
    background: #191919;
}

#relogio{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-family: Orbitron;
    font-size: 10em;
    font-weight: bold;
    letter-spacing: 7px;
    transform: translate(-50%, -50%);
}